<!DOCTYPE html>
<html lang="es">
  <head th:replace="fragments/commonHead :: commonHead">
    <title>fragmento</title>
  </head>
  <body>
    <div
      th:fragment="offcanva"
      class="offcanvas offcanvas-start d-md-none"
      tabindex="-1"
      id="MyOffcanva"
    >
      <div class="offcanvas-header">
        <h1 class="offcanvas-title fs-4">Menú</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              th:href="@{/courses/dashboard}"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-mortarboard"></i> Cursos
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/students}"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-person"></i> Alumnos
            </a>
          </li>
          <li class="nav-item">
            <a
              href="../html/reports.html"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-bar-chart"></i> Reportes
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/showArchiveCourses}"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-archive"></i> Cursos archivados
            </a>
          </li>
          <li class="nav-item">
            <a
              th:href="@{/students/archived}"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-person-rolodex"></i> Cursos archivados
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
