<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>offcanva</title>
</head>
<body>
    <div th:replace="offcanva"
        class="offcanvas offcanvas-start d-md-none"
        tabindex="-1"
        id="MyOffcanva"
      >
        <div class="offcanvas-header">
          <h1 class="offcanvas-title fs-4">Menú</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-person"></i> Alumnos
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-pencil-square"></i> Inscripciones
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-bar-chart"></i> Reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
</body>
</html>