<div th:fragment="studentsTableContainer">
  <div class="d-flex flex-wrap gap-2 mb-3">
    <!-- Botones de orden -->
    <div class="btn-group" role="group">
      <a
        class="btn btn-outline-primary"
        th:hx-get="@{/courses/course/{id}(id=${course.id}, sort='name', ascending=${ascending}, page=0, size=${size}, nameParam=${nameParam})}"
        hx-target="#studentsTableContainer"
        hx-swap="innerHTML"
		hx-headers='{"HX-Request": "true"}'
        th:classappend="${sortBy == 'name'} ? 'active' : ''"
      >
        Nombre
      </a>
      <a
        class="btn btn-outline-primary"
        th:hx-get="@{/courses/course/{id}(id=${course.id}, sort='surname', ascending=${ascending}, page=0, size=${size}, nameParam=${nameParam})}"
        hx-target="#studentsTableContainer"
        hx-swap="innerHTML"
        hx-headers='{"HX-Request": "true"}'
        th:classappend="${sortBy == 'surname'} ? 'active' : ''"
      >
        Apellido
      </a>
    </div>

    <!-- Orden asc/desc -->
    <div class="d-flex align-items-center gap-2 ms-2">
      <a
        class="btn btn-outline-primary"
        th:hx-get="@{/courses/course/{id}(id=${course.id}, sort=${sortBy ?: 'name'}, ascending=true, page=${currentPage}, size=${size}, nameParam=${nameParam})}"
        hx-target="#studentsTableContainer"
        hx-swap="innerHTML"
        th:classappend="${ascending} ? 'active' : ''"
      >
        <i class="bi bi-arrow-up-short"></i>
      </a>
      <a
        class="btn btn-outline-primary"
        th:hx-get="@{/courses/course/{id}(id=${course.id}, sort=${sortBy ?: 'name'}, ascending=false, page=${currentPage}, size=${size}, nameParam=${nameParam})}"
        hx-target="#studentsTableContainer"
        hx-swap="innerHTML"
        th:classappend="${!ascending} ? 'active' : ''"
      >
        <i class="bi bi-arrow-down-short"></i>
      </a>
    </div>
  </div>

  <table class="table table-borderless table-hover table-light">
    <thead class="table-primary">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="Otherstudent : ${otherStudents}">
        <td th:text="${Otherstudent.name}">Nombre</td>
        <td th:text="${Otherstudent.surname}">Apellido</td>
        <td>
          <form
            class="add-student-form"
            th:action="@{/courses/course/changeStudentCourse}"
            method="POST"
          >
            <input type="hidden" name="courseId" th:value="${course.id}" />
            <input
              type="hidden"
              name="studentId"
              th:value="${Otherstudent.id}"
            />
            <button class="btn btn-outline-primary" type="submit">
              Añadir
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
