@font-face {
  font-family: "principal";
  src: url(../fonts/Caliste.ttf);
}

h1,
h2,
thead {
  font-family: "principal";
}

aside {
  width: 250px;
  height: 100vh;
}

.pic-with-filter {
  object-fit: cover;
  
}

.bg-primary-opacity {
  background-color: rgba(3, 56, 113, 0.5); 
}

/* .scroll-sin-barra-firefox {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
 
/*/

.scroll-sin-barra-chrome::-webkit-scrollbar {
  display: none; /* Chrome, Safari */


.transitional-ease {
  transition: transform 0.3s ease; 
}

.transitional-ease:hover {
  transform: scale(1.03);
}

