<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/commonHead :: commonHead">
    <title>Dashboard</title>
    <meta name="description" content="Cursos de inglés" />
  </head>

  <body>
    <section th:replace="fragments/decorationNav :: decorationNav"></section>
    <section>
      <!-- Offcanvas solo visible en móvil -->
      <div th:replace="fragments/offcanva :: offcanva"></div>
    </section>

    <div class="d-flex">
      <!-- aside -->
      <aside
        class="d-none d-md-flex flex-column bg-light border-end text-primary p-3 vh-100"
      >
        <ul th:replace="fragments/ul-aside :: ul-aside"></ul>
        <button
          type="button"
          class="btn btn-outline-primary mt-3"
          data-bs-toggle="modal"
          data-bs-target="#NewCourse"
        >
          Añadir Curso
        </button>
      </aside>

      <!-- Modal nuevo curso -->
      <div class="modal" id="NewCourse">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h2 class="modal-title">
                Nuevo Curso
              </h2>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
              <form
                method="POST"
                th:action="@{/newcourse}"
                th:object="${course}"
                id="nuevoCursoForm"
              >
                <!-- info del curso -->
                <div class="mb-3">
                  <label class="form-label"><strong>Info <span class="text-danger">*</span></strong></label>
                  <div class="input-group">
                    <input
                      type="text"
                      th:field="*{name}"
                      class="form-control"
                      required
                      placeholder="Nombre del curso"
                      aria-label="Nombre del curso"
                      maxlength="20"
                    />
                    <input
                      type="text"
                      th:field="*{description}"
                      class="form-control"
                      placeholder="Descripción del curso"
                      aria-label="Descripción del curso"
                      maxlength="17"
                    />
                  </div>
                </div>

                <!-- Nivel de inglés -->
                <div class="mb-3">
                  <label class="form-label"><strong>Nivel <span class="text-danger">*</span></strong></label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioA1"
                        name="nivelIngles"
                        value="A1"
                        checked
                        required
                      />
                      <label class="form-check-label" for="radioA1">A1</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioA2"
                        name="nivelIngles"
                        value="A2"
                        required
                      />
                      <label class="form-check-label" for="radioA2">A2</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioB1"
                        name="nivelIngles"
                        value="B1"
                        required
                      />
                      <label class="form-check-label" for="radioB1">B1</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioB2"
                        name="nivelIngles"
                        value="B2"
                        required
                      />
                      <label class="form-check-label" for="radioB2">B2</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioC1"
                        name="nivelIngles"
                        value="C1"
                        required
                      />
                      <label class="form-check-label" for="radioC1">C1</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input
                        type="radio"
                        th:field="*{level}"
                        class="form-check-input"
                        id="radioC2"
                        name="nivelIngles"
                        value="C2"
                        required
                      />
                      <label class="form-check-label" for="radioC2">C2</label>
                    </div>
                  </div>
                </div>

                <!-- fechas -->
                <div class="mb-3">
                  <label for="fechaInicio" class="form-label fw-bold">
                    Fecha inicial del curso: <span class="text-danger">*</span>
                  </label>
                  <input
                    type="date"
                    th:field="*{startDate}"
                    id="fechaInicio"
                    name="fechaInicio"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-3">
                  <label for="fechaFin" class="form-label fw-bold">
                    Fecha de finalización del curso: <span class="text-danger">*</span>
                  </label>
                  <input
                    type="date"
                    th:field="*{endDate}"
                    id="fechaFin"
                    name="fechaFin"
                    class="form-control"
                    required
                  />
                </div>

                <!-- nombre de profe -->
                <div class="mb-3">
                  <label class="form-label"
                    ><strong>Nombre del profesor/a <span class="text-danger">*</span></strong></label
                  >
                  <input
                    type="text"
                    th:field="*{teacher}"
                    class="form-control"
                    required
                    placeholder="Nombre del profesor"
                    aria-label="Nombre del profesor"
                    maxlength="50"
                  />
                </div>

                <div class="mb-3">
                  <label for="capacidadClase" class="form-label fw-bold">
                    Indique la capacidad de la clase <span class="text-danger">*</span>
                  </label>
                  <input
                    type="number"
                    th:field="*{maxCapacity}"
                    id="capacidadClase"
                    class="form-control"
                    placeholder="Ingrese la capacidad de la clase"
                    min="1"
                    required
                    aria-label="Capacidad de la clase"
                  />
                </div>

                <!-- Imagenes portada -->
                <div class="mb-3">
                  <label class="form-label fw-bold"
                    >Selecciona una imagen de portada: <span class="text-danger">*</span></label
                  >
                  <div class="d-flex flex-wrap gap-3">
                    <!-- imagen 1 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover1"
                        th:value="'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png'"
                        checked
                      />
                      <label class="btn btn-outline-primary" for="cover1">
                        <img
                          th:src="'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_the_United_States.svg/2560px-Flag_of_the_United_States.svg.png'"
                          alt="United States flag / bandera de Estados Unidos"
                          width="100"
                          height="60"
                          style="object-fit: cover"
                        />
                      </label>
                    </div>

                    <!-- magen 2 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover2"
                        required
                        th:value="'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png' "
                      />
                      <label class="btn btn-outline-primary" for="cover2">
                        <img
                          th:src=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png' "
                          alt="United kingdom flag / bandera del Reino Unido"
                          width="100"
                          height="60"
                          style="object-fit: cover"
                        />
                      </label>
                    </div>

                    <!-- imagen 3 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover3"
                        required
                        th:value=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1200px-Flag_of_Australia_%28converted%29.svg.png' "
                      />
                      <label class="btn btn-outline-primary" for="cover3">
                        <img
                          th:src=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Flag_of_Australia_%28converted%29.svg/1200px-Flag_of_Australia_%28converted%29.svg.png' "
                          alt=" Australian Flag / Bandera de Australia"
                          width="100"
                          height="60"
                          style="object-fit: cover"
                        />
                      </label>
                    </div>

                    <!-- imagen 4 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover4"
                        required
                        th:value="'https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png' "
                      />
                      <label class="btn btn-outline-primary" for="cover4">
                        <img
                          th:src=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png' "
                          width="100"
                          height="60"
                          style="object-fit: cover"
                          alt="Irish Flag / Bandera de Irlanda"
                        />
                      </label>
                    </div>

                    <!-- imagen 5 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover5"
                        required
                        th:value=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/960px-Flag_of_Canada_%28Pantone%29.svg.png' "
                      />
                      <label class="btn btn-outline-primary" for="cover5">
                        <img
                          th:src=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Canada_%28Pantone%29.svg/960px-Flag_of_Canada_%28Pantone%29.svg.png' "
                          width="100"
                          height="60"
                          style="object-fit: cover"
                          alt="Canadian Flag / Bandera de Canadá"
                        />
                      </label>
                    </div>

                    <!-- imagen 6 -->
                    <div>
                      <input
                        type="radio"
                        th:field="*{imageUrl}"
                        class="btn-check"
                        id="cover6"
                        required
                        th:value=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png' "
                      />
                      <label class="btn btn-outline-primary" for="cover6">
                        <img
                          th:src=" 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/1200px-Flag_of_Jamaica.svg.png' "
                          width="100"
                          height="60"
                          style="object-fit: cover"
                          alt="Jamaican Flag / Bandera de Jamaica"
                        />
                      </label>
                    </div>
                  </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary">
                    Crear
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- sección de cursos, for each -->
      <section class="container my-4 overflow-auto vh-100">
        <div class="row g-4">
          <div
            class="col-12 col-md-6 col-lg-4"
            th:each="course : ${courses}"
            th:block
            th:if="${course.id != 1}"
          >
            <a
              th:href="@{/course/{id}(id = ${course.id})}"
              class="text-decoration-none"
            >
              <div
                class="card rounded-4 text-white h-100 transitional-ease ratio ratio-16x9"
              >
                <img
                  th:src="@{${course.imageUrl}}"
                  class="card-img rounded-4 pic-with-filter"
                  alt="Imagen del curso"
                  style="object-fit: cover"
                />
                <div class="card-img-overlay bg-primary-opacity rounded-4">
                  <div class="card-body d-flex flex-column">
                    <div class="mb-4">
                      <h2 th:text="${course.name}" class="card-title fs-4 mb-1">
                        Clase de prueba
                      </h2>
                      <h6
                        th:text="${course.description}"
                        class="mb-2 text-white-50"
                      >
                        Descripcion de ejemplo
                      </h6>
                      <h3 th:text="${course.level}" class="fs-5">Nivel</h3>
                    </div>
                    <div
                      class="mt-auto d-flex justify-content-between align-items-center"
                    >
                      <div class="d-flex align-items-center">
                        <i class="bi bi-people-fill me-2 fs-4"></i>
                        <h4 th:text="${course.numOfStudents}" class="mb-0 fs-5">
                          0
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <button
      type="button"
      class="btn btn-primary btn-lg rounded-circle border-0 position-fixed d-md-none bottom-0 end-0 mb-5 me-3"
      data-bs-toggle="modal"
      data-bs-target="#NewCourse"
    >
      +
    </button>
  </body>
</html>
