<!DOCTYPE html>
<html lang="es">
  <head th:replace="fragments/commonHead :: commonHead">
    <title>Grades</title>
    <meta name="description" content="Ediccion de notas" />
  </head>
  <body>
    <section th:replace="fragments/decorationNav :: decorationNav"></section>
    <section>
      <!-- Offcanvas solo visible en móvil -->
      <div th:replace="fragments/offcanva :: offcanva"></div>
    </section>

    <div class="d-flex">
      <!-- aside -->
      <aside
        class="d-none d-md-flex flex-column bg-light border-end text-primary p-3 vh-100"
      >
        <ul th:replace="fragments/ul-aside :: ul-aside"></ul>
      </aside>

      <main class="col-md-10 p-4 overflow-auto vh-100">
        <section class="flex-grow-1 w-100 vh-100 px-0 mx-0">
          <div class="row g-0">
            <div class="w-100 col-12">
              <div class="text-center py-4 bg-light">
                <img
                  th:src="${student.photoPath}"
                  alt="Foto del estudiante"
                  class="rounded-circle shadow"
                  style="width: 180px; height: 180px; object-fit: cover"
                />
              </div>
              <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                  <form
                    th:action="@{/saveStudentsGrades}"
                    th:object="${student}"
                    method="post"
                    class="p-5 bg-white w-75"
                  >
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{name}" />
                    <input type="hidden" th:field="*{surname}" />
                    <input type="hidden" th:field="*{photoPath}" />
                    <input type="hidden" th:field="*{registrationDate}" />
                    <input type="hidden" th:field="*{email}" />
                    <input type="hidden" th:field="*{age}" />
                    <input type="hidden" th:field="*{active}" />
                    <input type="hidden" th:field="*{course}" />
                    <input type="hidden" th:field="*{fee}" />

                    <div class="row g-4">
                      <div class="col-md-6 text-center">
                        <label class="form-label fw-bold">Speaking</label>
                        <input
                          type="number"
                          th:field="*{grades[SPEAKING]}"
                          step="0.01"
                          min="1"
                          max="10"
                          class="form-control form-control-sm"
                          placeholder="0 - 10"
                        />
                      </div>

                      <div class="col-md-6 text-center">
                        <label class="form-label fw-bold">Writing</label>
                        <input
                          type="number"
                          th:field="*{grades[WRITING]}"
                          step="0.01"
                          min="1"
                          max="10"
                          class="form-control form-control-sm"
                          placeholder="0 - 10"
                        />
                      </div>

                      <div class="col-md-6 text-center">
                        <label class="form-label fw-bold">Listening</label>
                        <input
                          type="number"
                          th:field="*{grades[LISTENING]}"
                          step="0.01"
                          min="1"
                          max="10"
                          class="form-control form-control-sm"
                          placeholder="0 - 10"
                        />
                      </div>

                      <div class="col-md-6 text-center">
                        <label class="form-label fw-bold">Use of English</label>
                        <input
                          type="number"
                          th:field="*{grades[UOE]}"
                          step="0.01"
                          min="1"
                          max="10"
                          class="form-control form-control-sm"
                          placeholder="0 - 10"
                        />
                      </div>

                      <div class="col-md-6 offset-md-3 text-center">
                        <label class="form-label fw-bold">Reading</label>
                        <input
                          type="number"
                          th:field="*{grades[READING]}"
                          step="0.01"
                          min="1"
                          max="10"
                          class="form-control form-control-sm"
                          placeholder="0 - 10"
                        />
                      </div>
                    </div>

                    <div class="text-center mt-4">
                      <button type="submit" class="btn btn-outline-primary">
                        Guardar notas
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <section th:replace="fragments/footer :: footer"></section>
  </body>
</html>
