<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments/commonHead :: commonHead">
    <title>Grades</title>
    <meta name="description" content="Ediccion de notas" />
  </head>
  <body>
    <section th:replace="fragments/decorationNav :: decorationNav"></section>
    <section>
      <!-- Offcanvas solo visible en móvil -->
      <div th:replace="fragments/offcanva :: offcanva"></div>
    </section>

    <div class="d-flex">
      <!-- aside -->
      <aside
        class="d-none d-md-flex flex-column bg-light border-end text-primary p-3 vh-100"
      >
        <ul th:replace="fragments/ul-aside :: ul-aside"></ul>
      </aside>

      <main class="col-md-10 p-4 overflow-auto vh-100">
        <section class="flex-grow-1 w-100 vh-100 px-0 mx-0">
          <div class="row g-0">
            <div class="w-100 col-12">
              <div class="text-center py-4 bg-light">
                <img
                  th:src="@{'/pictures/' + ${student.photoPath}}"
                  alt="Foto del estudiante"
                  class="rounded-circle shadow"
                  style="width: 180px; height: 180px; object-fit: cover"
                />
              </div>
              <form
                th:action="@{/saveGrades}"
                th:object="${student}"
                method="post"
              >
                <
                <div>
                  <label for="grades[Speaking]">Speaking:</label>
                  <input
                    type="number"
                    th:field="*{grades[Speaking]}"
                    step="0.01"
                  />
                </div>
                <div>
                  <label for="grades[Writing]">Writing:</label>
                  <input
                    type="number"
                    th:field="*{grades[Writing]}"
                    step="0.01"
                  />
                </div>
                <div>
                  <label for="grades[Listening]">Listening:</label>
                  <input
                    type="number"
                    th:field="*{grades[Listening]}"
                    step="0.01"
                  />
                </div>
                <div>
                  <label for="grades[UoE]">Use of English:</label>
                  <input type="number" th:field="*{grades[UoE]}" step="0.01" />
                </div>
                <div>
                  <label for="grades[Reading]">Reading:</label>
                  <input
                    type="number"
                    th:field="*{grades[Reading]}"
                    step="0.01"
                  />
                </div>

                <button type="submit">Guardar</button>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
