<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Cargar Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Cargar Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Cargar Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Cargar mis estilos y tema -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>reports</title>
  </head>

  <body>
    <section>
      <!-- Offcanvas solo visible en móvil -->
      <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="MyOffcanva">
        <div class="offcanvas-header">
          <h1 class="offcanvas-title fs-4">Menú</h1>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link text-primary d-flex align-items-center gap-2">
                <i class="bi bi-person"></i> Alumnos
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-primary d-flex align-items-center gap-2">
                <i class="bi bi-pencil-square"></i> Inscripciones
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-primary d-flex align-items-center gap-2">
                <i class="bi bi-bar-chart"></i> Reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="container-fluid bg-light border-bottom py-2">
      <div class="d-flex justify-content-between align-items-center px-3">
        <button class="btn btn-outline-primary d-md-none" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#MyOffcanva">
          <i class="bi bi-list fs-4"></i>
        </button>
        <h1 class="m-0 fs-3 text-primary">
          <a href="../html/dashboard.html" class="text-primary text-decoration-none">ACADEMIX</a>
        </h1>
        <img src="../pictures/logo/2-transparent.png" alt="Logo" width="60" class="img-fluid" />
      </div>
    </section>

    <div class="d-flex flex-column flex-md-row">
      <aside class="d-none d-md-flex flex-column bg-light border-end text-primary p-3 vh-100">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="../html/students.html" class="nav-link text-primary d-flex align-items-center gap-2">
              <i class="bi bi-person"></i> Alumnos
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-primary d-flex align-items-center gap-2">
              <i class="bi bi-pencil-square"></i> Inscripciones
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-primary d-flex align-items-center gap-2">
              <i class="bi bi-bar-chart"></i> Reportes
            </a>
          </li>
        </ul>
      </aside>

      <main class="container-fluid flex-fill">
        <div class="container mt-4">
          <div class="d-flex align-items-center mb-3">
            <h2 class="text-primary">Ingresos Estimados</h2>
            <button type="button" class="btn btn-outline-primary rounded-circle shadow-sm d-flex align-items-center ms-5"
              data-bs-toggle="collapse" data-bs-target="#ingresosEstimados">
              <i class="bi bi-caret-down fs-4"></i>
            </button>
          </div>

          <div id="ingresosEstimados" class="collapse show">
            <div class="bg-light table-responsive p-4 rounded-3">
              <div class="mb-1">
                <label for="cursoFilter" class="form-label">Filtrar por Curso</label>
                <select class="form-select" id="cursoFilter">
                  <option value="all">Todos los cursos</option>
                  <option value="curso1">Curso 1</option>
                  <option value="curso2">Curso 2</option>
                  <option value="curso3">Curso 3</option>
                </select>
              </div>

              <table class="table table-hover table-light">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>¿Ha pagado?</th>
                    <th>Cantidad/mes</th>
                    <th>Descuento</th>
                    <th>Curso</th>
                    <th>Precio Total a Pagar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td><span class="badge bg-success">Sí</span></td>
                    <td>50€</td>
                    <td>5%</td>
                    <td>Curso 1</td>
                    <td>47.50€</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td><span class="badge bg-secondary text-white">No</span></td>
                    <td>60€</td>
                    <td>10%</td>
                    <td>Curso 2</td>
                    <td>54€</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td><span class="badge bg-success">Sí</span></td>
                    <td>45€</td>
                    <td>0%</td>
                    <td>Curso 3</td>
                    <td>45€</td>
                  </tr>
                </tbody>
              </table>

              <h2>Total Estimado: 146.50€</h2>
            </div>
          </div>
        </div>

        <!-- Estadistica -->
        <div class="container mt-4">
          <div class="d-flex align-items-center mb-3">
            <h2 class="text-primary">Estadisticas</h2>
            <button type="button" class="btn btn-outline-primary rounded-circle shadow-sm d-flex align-items-center ms-5"
              data-bs-toggle="collapse" data-bs-target="#estadisticas">
              <i class="bi bi-caret-down fs-4"></i>
            </button>
          </div>

          <div id="estadisticas" class="collapse show">
            <div class="bg-light p-4 rounded-3">
              <div class="mb-1">
                <label for="cursoFilter2" class="form-label">Ocupación</label>
                <select class="form-select" id="cursoFilter2">
                  <option value="all">Todos los cursos</option>
                  <option value="curso1">Curso 1</option>
                  <option value="curso2">Curso 2</option>
                  <option value="curso3">Curso 3</option>
                </select>
                <div class="progress fw-bold fs-6" style="height: 40px">
                  <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" style="width: 70%">
                    Curso 60% completado
                  </div>
                </div>
              </div>

              <div class="mb-1 mt-3">
                <label for="cursoFilter2" class="form-label">Nota media de curso</label>
                <select class="form-select" id="cursoFilter2">
                  <option value="all">Todos los cursos</option>
                  <option value="curso1">Curso 1</option>
                  <option value="curso2">Curso 2</option>
                  <option value="curso3">Curso 3</option>
                </select>
                <div class="progress fw-bold fs-6" style="height: 40px">
                  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 84%">
                    Nota media: 8.4
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Precios -->

        <div class="container mt-4">
          <div class="d-flex align-items-center mb-3">
            <h2 class="text-primary">PRECIO DE CUOTA</h2>
            <button type="button" class="btn btn-outline-primary rounded-circle shadow-sm d-flex align-items-center ms-5"
              data-bs-toggle="collapse" data-bs-target="#precios">
              <i class="bi bi-caret-down fs-4"></i>
            </button>
          </div>

          <div id="precios" class="collapse show">
            <div class="bg-light p-4 rounded-3">
              <div class="mb-3">
                <label for="establecerPrecio1" class="form-label">Primer tipo de cuota</label>
                <input type="number" class="form-control form-control-sm" placeholder="60 € / mes" id="establecerPrecio1"
                  min="0" />
              </div>

              <div class="mb-3">
                <label for="establecerPrecio2" class="form-label">Segundo tipo de cuota</label>
                <input type="number" class="form-control form-control-sm" placeholder="60 € / mes" id="establecerPrecio2"
                  min="0" />
              </div>
              <button type="button" class="btn btn-outline-primary">Guardar</button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>