<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Cargar Bootstrap Icons -->
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
        rel="stylesheet"
      />
      <!-- Cargar Popper.js -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <!-- Cargar Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Cargar mis estilos y tema -->
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <title>details</title>
  </head>
  <body>
    <section th:replace="fragments/decorationNav :: decorationNav"></section>
    <section>
      <!-- Offcanvas solo visible en móvil -->
      <div
        class="offcanvas offcanvas-start d-md-none"
        tabindex="-1"
        id="MyOffcanva"
      >
        <div class="offcanvas-header">
          <h1 class="offcanvas-title fs-4">Menú</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-person"></i> Alumnos
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-pencil-square"></i> Inscripciones
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link text-primary d-flex align-items-center gap-2"
              >
                <i class="bi bi-bar-chart"></i> Reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="d-flex">
      <!-- Aside -->
      <aside
        class="d-none d-md-flex flex-column bg-light border-end text-primary p-3 vh-100"
      >
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              href="../html/students.html"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-person"></i> Alumnos
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-pencil-square"></i> Inscripciones
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="nav-link text-primary d-flex align-items-center gap-2"
            >
              <i class="bi bi-bar-chart"></i> Reportes
            </a>
          </li>
        </ul>
      </aside>

      <!-- Contenido principal -->
      <main class="col-md-10 p-4 overflow-auto vh-100">
        <section class="flex-grow-1 w-100 vh-100 px-0 mx-0">
          <div class="row g-0">
            <div class="w-100 col-12">
              <div class="text-center py-4 bg-light">
                <img
                  th:src="@{'/pictures/' + ${student.photoPath}}"
                  alt="Foto del estudiante"
                  class="rounded-circle shadow"
                  style="width: 180px; height: 180px; object-fit: cover"
                />
              </div>

              <!-- Formulario -->
              <form
                th:action="@{/savestudent}"
                th:object="${student}"
                method="POST"
                enctype="multipart/form-data"
                class="p-5 bg-white"
              >
                <input type="hidden" th:field="*{id}" />

                <div class="row mb-3">
                  <label class="form-label fw-bold">Nombre y Apellido</label>
                  <div class="col-md-6">
                    <input
                      type="text"
                      th:field="*{name}"
                      class="form-control"
                      placeholder="Nombre"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="text"
                      th:field="*{surname}"
                      class="form-control"
                      placeholder="Apellido"
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold">Correo</label>
                  <input
                    type="email"
                    th:field="*{email}"
                    class="form-control"
                    placeholder="Correo del alumno"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold">Edad</label>
                  <input
                    type="number"
                    th:field="*{age}"
                    class="form-control"
                    placeholder="Edad del estudiante"
                    min="1"
                    max="140"
                  />
                </div>

                <div class="mb-3">
                  <label class="form-label fw-bold">Curso</label>
                  <select name="courseId" class="form-select">
                    <option value="" disabled selected>
                      Seleccione un curso
                    </option>

                    <option th:if="${#lists.isEmpty(courses)}" disabled>
                      No hay cursos creados
                    </option>

                    <option
                      th:each="course : ${courses}"
                      th:value="${course.id}"
                      th:if="${course.active}"
                      th:text="${course.name}"
                      th:selected="${student.course != null and course.id == student.course.id}"
                    ></option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="photoPath" class="form-label fw-bold"
                    >Actualizar foto</label
                  >
                  <input
                    type="file"
                    id="photoPath"
                    name="file"
                    class="form-control"
                    accept="image/*"
                  />
                  <input
                    type="hidden"
                    name="existingPhoto"
                    th:value="${student.photoPath}"
                  />
                </div>

                <input
                  type="hidden"
                  name="resgDate"
                  th:value="${registrationDate}"
                />

                <div class="mb-4">
                  <label class="form-label fw-bold">Tipo de Matrícula</label>
                  <select name="matricula" class="form-select">
                    <option value="" disabled selected>
                      Seleccione un tipo de matrícula
                    </option>
                    <option value="Tipo1">60 €/mes (2-11 años)</option>
                    <option value="Tipo2">80 €/mes (+12 años)</option>
                  </select>
                </div>

                <div class="form-group mb-3">
                  <label for="active" class="form-label">¿Está activo?</label>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      th:field="*{active}"
                      type="checkbox"
                      id="active"
                      name="active"
                    />
                    <label class="form-check-label" for="active">Activo</label>
                  </div>
                </div>

                <div class="alert alert-warning">
                  <strong>Nota:</strong> Solo el/la profesor/a. del curso puede
                  editar las notas de los alumnos.
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-ouyline-primary px-5">
                    Guardar cambios
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
